.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
}

.main-body {
  max-width: 1200px;
  margin: 0 auto !important;
  float: none !important;
}
.header {
  text-align: center;
  max-width: auto !important;
}
/* HEADER POPUP*/
#login-title {
  color: white;
  font-size: 1.35em;
}

.login-popup {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.login-popup-inner {
  text-align: center;
  white-space: normal;
  max-width: 400px;
  height: 500px;
  position: absolute;
  left: 7%;
  right: 7%;
  top: 20px;
  margin: auto;
  background: white;
  border-radius: 8px;
  animation: appear 0.3s ease-in;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login-popup-header {
  background-color: #0db79b;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-style: solid;
  border-color: #0db79b;
}

#header-close-button {
  background: url("./images/close-button.png") no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  cursor: pointer;
}

#header-close-button:hover {
  background: url("./images/close-button-on-hover.png") no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  cursor: pointer;
}

#login-popup-text {
  padding: 1em 1.5em 1em 2em;
  font-size: 0.95em;
  line-height: 1.5em;
}

#login-popup-username-label {
  background-color: #0db79b;
  display: inline-block;
  width: 85%;
  height: 45px;
  color: white;
  font-size: 1.2em;
  line-height: 45px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#login-popup-username-input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #d9fcf6;
  font-size: 0.8em;
  width: 100%;
  height: 45px;
  position: relative;
  top: -4px;
  box-sizing: border-box;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 30px 0 10px;
}

#login-popup-username-input:focus {
  border: 1px solid #0a9a82;
  outline: none;
}

#login-popup-signin-button {
  background-color: white;
  position: relative;
  top: 5.5em;
  border-radius: 8px;
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px 12px;
  text-align: center;
  height: 40px;
  width: 100px;
  float: left;
  margin: 2.5em;
  cursor: pointer;
}
@media only screen and (max-width: 400px) {
  #login-popup-signin-button {
    top: 3.5em;
  }
}

@media only screen and (max-width: 319px) {
  #login-popup-signin-button {
    top: 1.5em;
  }
  #login-popup-text {
    font-size: 0.8em;
  }
}

#login-popup-signin-button:focus {
  border: 1px solid #a3a3a3;
  outline: none;
}

#login-popup-no-user-exists {
  color: red;
  display: block;
  text-align: left;
  width: 20em;
  position: relative;
  top: 0.5em;
  left: -8.2em;
}

/* HEADER */

.header {
  border-bottom: solid #f2f1f1 15px;
  outline: solid #b5b5b5 0.5px;
  box-shadow: inset 0px -11px 0px -10px #b5b5b5;
}

/* HEADER TOPIC BAR */

.header-topic-bar {
  text-align: left;
  background-color: #f2f1f1;
  outline: solid #b5b5b5 0.5px;
  padding-bottom: 0.2em;
  max-width: none;
}
.header-topics {
  vertical-align: sub;
  text-decoration: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: black;
  max-width: none;
}

.header-topics:hover {
  text-decoration: underline;
}

#all-topic {
  padding-left: 1em;
}

/* HEADER MAIN CONTENT */
.header-main-content {
  max-width: 1200px;
  margin: 0 auto !important;
  float: none !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#header-logo-link {
  flex-shrink: 0;
  width: 220px;
  height: 60px;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

#header-logo {
  width: 100%;
  height: 100%;
}

#header-logo-link-small {
  display: none;
  flex-shrink: 0;
  width: 85px;
  height: 60px;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
#header-logo-small {
  width: 100%;
  height: 100%;
}

#header-new-article-button-link-small {
  display: none;
}

@media only screen and (max-width: 750px) {
  #header-logo-link {
    display: none;
  }

  #header-logo-link-small {
    display: block;
  }
  #header-new-article-button-link-small {
    display: block;
    white-space: nowrap;
    cursor: pointer;
    background-color: #0db79b;
    border-radius: 8px;
    margin-top: 1.4em;
    padding: 12px 12px;
    padding-bottom: 11px;
    margin-left: auto;
    margin-right: 0.4em;
    border: 1px solid #a3a3a3;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
  }
  #header-new-article-button-link {
    display: none;
  }
}

#header-new-article-button-link {
  white-space: nowrap;
  cursor: pointer;
  background-color: #0db79b;
  border-radius: 8px;
  margin-top: 1.4em;
  padding: 12px 12px;
  padding-bottom: 11px;
  margin-left: auto;
  margin-right: 0.7em;
  border: 1px solid #a3a3a3;
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

/* HEADER USER DISPLAY */

#header-user-display {
  white-space: nowrap;
  background-color: white;
  border-radius: 8px;
  margin-top: 1.4em;
  padding: 7px 12px;
  padding-bottom: 10px;
  margin-right: 1em;
  border: 1px solid #a3a3a3;
}

#header-user-display-logged-out {
  white-space: nowrap;
  background-color: white;
  border-radius: 8px;
  margin-top: 1.4em;
  padding: 10px 12px;
  padding-bottom: 13px;
  margin-right: 1em;
  border: 1px solid #a3a3a3;
}

@media only screen and (max-width: 750px) {
  #header-want-to-contribute {
    display: none;
  }
  #current-user-display {
    display: none;
  }
  #header-log-out-button {
    position: relative;
    top: 3px;
  }
  #header-user-display {
    white-space: nowrap;
    background-color: white;
    border-radius: 8px;
    margin-top: 1.4em;
    padding: 10px 12px;
    padding-bottom: 13px;
    margin-right: 0.4em;
    border: 1px solid #a3a3a3;
  }
}
#header-log-out-button {
  color: #0db79b;
  font-weight: bold;
  cursor: pointer;
}

#header-log-in-button {
  color: #0db79b;
  font-weight: bold;
  position: relative;
  top: 3px;
  cursor: pointer;
}

#header-log-in-button:hover {
  text-decoration: underline;
}

#user-avatar {
  position: relative;
  top: 3px;
  white-space: nowrap;
  width: 20px;
  height: 20px;
}

.user-display-dividing-lines {
  position: relative;
  top: -2px;
  font-weight: bold;
  color: #a3a3a3;
}

#header-want-to-contribute {
  position: relative;
  top: 3px;
}

/* VOTE BUTTONS */

.vote-buttons {
  flex: 0 0 auto;
  border: none;
  text-align: center;
  margin: 0.2em;
  margin-right: 1em;
  width: 50px;
}

.top-vote-button {
  background: none;
  border: none;
  height: 20px;
  width: 30px;
}

.bottom-vote-button {
  background: none;
  border: none;
  height: 20px;
  width: 30px;
}

.vote-buttons-img {
  height: 100%;
  width: 100%;
}
/* ARTICLES LIST */

.content-list {
  list-style: none;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.1em;
}

@media only screen and (max-width: 500px) {
  .content-list {
    padding: 0;
  }
  .vote-buttons {
    margin-right: 0.2em;
  }
}

.content-list-element-even {
  display: flex;
  align-items: center;
  background-color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.content-list-element-odd {
  display: flex;
  align-items: center;
  background-color: #f2f1f1;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.article-body {
  display: flex;
  flex-direction: column;
}

.article-full-article-title {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: bold;
}
#article-full-article-link:hover {
  color: #0db79b;
}

.article-topic-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.article-topic-link:hover {
  color: #0db79b;
}

.article-comment-link {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
}

.article-comment-link:hover {
  text-decoration: underline;
}

.article-middle-section {
  margin-top: 0.5em;
  margin-bottom: 0.4em;
}

.article-full-article-text {
  width: 100%;
}

/* SELECT BUTTONS */

.articles-sort-by {
  float: right;
  margin-right: 2em;
  margin-top: 0.5em;
  margin-left: 5.35em;
  margin-bottom: -0.5em;
}

select {
  font-size: 1em;
  line-height: 1.3;
  padding: 0.6em 2em 0.5em 0.8em;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #f2f1f1;
  background-image: url("./images/downvote-clicked.png");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select:focus {
  border: 1px solid #0a9a82;
  outline: none;
}

@media only screen and (max-width: 750px) {
  .articles-sort-by-labels {
    display: none;
  }
  .articles-sort-by {
    margin-left: 1em;
  }
}

@media only screen and (max-width: 500px) {
  .articles-sort-by {
    float: none;
    margin-left: 50px;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

/* NAVIGATION BUTTONS */

.navigation-button {
  background-color: white;
  position: relative;

  border-radius: 8px;
  font-size: 0.8em;
  font-weight: bold;
  border: 1px solid #a3a3a3;
  text-align: center;
  height: 30px;
  min-width: 40px;
  cursor: pointer;
  margin: 3px;
  margin-bottom: 3em;
  outline: none;
}
.navigation-button :focus {
  border: 1px solid #0a9a82;
  outline: none;
}
.navigation-button :active {
  border: 1px solid #a3a3a3;
  background-color: red;
  outline: none;
}

.navigation-button-current {
  background-color: #f2f1f1;
  position: relative;
  border-radius: 8px;
  font-size: 0.8em;
  font-weight: bold;
  border: 1px solid #a3a3a3;
  text-align: center;
  height: 30px;
  min-width: 40px;
  cursor: pointer;
  margin: 3px;
  margin-bottom: 3em;
  outline: none;
}

/* NEW ARTICLE PAGE */

.input-label {
  background-color: #0db79b;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  height: 35px;
  color: white;
  font-size: 1.2em;
  line-height: 35px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.form-input {
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: #d9fcf6;
  font-size: 0.8em;

  width: 100%;
  height: 35px;
  position: relative;
  top: -4px;
  box-sizing: border-box;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 30px 0 10px;
}

#new-article-title-input:focus {
  border: 1px solid #0a9a82;
  outline: none;
}

#new-article-topic-box {
  padding-top: 30px;
}

#new-article-topic-input:focus {
  border: 1px solid #0a9a82;
  outline: none;
}

#new-article-post-label {
  width: 500px;
}

#new-article-post-text-area {
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 60px;
  background-color: #d9fcf6;
  font-size: 0.8em;
  width: 100%;
  height: 80px;
  position: relative;
  top: -4px;
  box-sizing: border-box;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 30px 0 10px;
  resize: vertical;
}

#new-article-post-text-area:focus {
  border: 1px solid #0a9a82;
  outline: none;
}

@media only screen and (max-width: 550px) {
  #new-article-post-label {
    width: 350px;
  }
}

@media only screen and (max-width: 400px) {
  #new-article-post-label {
    width: 250px;
  }
}

#new-article-submit-button {
  background-color: white;
  position: relative;
  top: 3em;
  border-radius: 8px;
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px 12px;
  text-align: center;
  height: 40px;
  width: 100px;

  margin: 2.5em;
  cursor: pointer;
}

#new-article-submit-button:focus {
  border: 1px solid #a3a3a3;
  outline: none;
}

#new-article-error-message {
  position: relative;
  top: -7em;
  color: red;
}

/* SINGLE ARTICLE PAGE */

#comment-list-comment {
  margin-top: 0.4em;
}

#comment-list-author {
  font-weight: bold;
}
#comment-list-body {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#single-article-author {
  font-weight: bold;
}

#article-full-article {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 1em;
}

#article-full-article-body {
  background-color: #f2f1f1;
  border: 1px solid #a3a3a3;
  padding: 1em 1em 1em 1em;
  border-radius: 8px;
  margin-right: 2em;
  margin-top: 1em;
}

/* POST COMMENT  */

#post-comment-submit-button {
  background-color: white;
  position: relative;
  border-radius: 8px;
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px 12px;
  text-align: center;
  height: 40px;
  width: 100px;
  margin-top: 1em;
  cursor: pointer;
  margin-bottom: 1em;
}
#post-comment {
  margin-left: 5em;
  margin-top: 2em;
  margin-right: 3em;
  text-align: left;
}

#post-comment-text-area {
  border: 1px solid #a3a3a3;
  min-height: 60px;
  font-size: 0.8em;
  width: 100%;
  height: 80px;
  position: relative;
  box-sizing: border-box;
  padding: 0 30px 0 10px;
  resize: vertical;
  font-size: 1em;
  padding: 1em;
}
#post-comment-text-area:focus {
  border: 1px solid #0a9a82;
  outline: none;
}

@media only screen and (max-width: 500px) {
  #post-comment {
    margin-left: 2em;
    margin-top: 2em;
    margin-right: 2em;
  }
  .comments-sort-by-labels {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  #post-comment {
    margin-bottom: 1em;
  }
}

.new-content-alert {
  color: red;
  font-size: 1.1em;
  text-align: left;
  margin-left: 3em;
}

#new-article-alert {
  margin-left: 0;
  margin-bottom: 2em;
}

.loading-gif {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delete-button {
  background-color: white;
  position: relative;
  border-radius: 8px;
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px 12px;
  text-align: center;
  height: 40px;
  width: 100px;

  cursor: pointer;
}

.comments-select-boxes {
  margin-top: 1em;
}
